# all dependencies required to build, run, test, and document plasmapy_test_helpers
# * look to the specific requirements/*.txt for specific needs
# * this will mimic `pip install plasmapy_test_helpers[developer]` (excluding plasmapy_test_helpers)
-r requirements/build.txt
-r requirements/install.txt
-r requirements/docs.txt
-r requirements/extras.txt
